@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Topic>

<main id="tt-pageContent" class="tt-offset-small">
    <div class="container">
        <div class="tt-topic-list">

            @if (!User.Identity.IsAuthenticated)
            {
                <div class="tt-item tt-item-popup" style="margin-top:2rem;margin-bottom:2rem">
                    <div class="tt-col-message">
                        Looks like you are new here. Register for free, learn and contribute.
                    </div>
                    <div class="tt-col-btn">
                        <a asp-controller="Account" asp-action="Login" type="button" class="btn btn-primary">Log in</a>
                        <a asp-controller="Account" asp-action="Signup" type="button" class="btn btn-secondary">Sign up</a>
                    </div>
                </div>
            }

            <div class="tt-list-header">
                <div class="tt-col-topic">Topic</div>
                <div class="tt-col-category">Category</div>
                <div class="tt-col-value hide-mobile">Likes</div>
                <div class="tt-col-value hide-mobile">Replies</div>
                <div class="tt-col-value">Posted at</div>
            </div>

           

            @foreach(var item in Model){

            <div class="tt-item">
                <div class="tt-col-avatar">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdSAIfVWemaen5arzKIXimhgXhgEFMs9_UrQ&usqp=CAU" style="width:5rem;" />
                </div>
                <div class="tt-col-description">
                    <h6 class="tt-title">
                        <a asp-controller="Topic" asp-action="Details" asp-route-id="@item.Id">
                            @item.Title
                        </a>
                    </h6>
                    <div class="row align-items-center no-gutters">
                        <div class="col-1 ml-auto show-mobile">
                            <div class="tt-value">1h</div>
                        </div>
                    </div>
                </div>
                <div class="tt-col-category"><span class="tt-color01 tt-badge">@item.Category.Name</span></div>
                <div class="tt-col-value hide-mobile">985</div>
                <div class="tt-col-value tt-color-select hide-mobile">502</div>
                <div class="tt-col-value hide-mobile">@item.DateTime</div>
            </div>
            }
        </div>
    </div>
</main>